.category-page {}

.category {
  overflow: auto;
  padding: 20px $side-padding;

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__articles {}
}

.category-articles {
  border-top: 1px solid #aaa;

  &__list {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
  }

  &__item {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__item-link {}
}