.index-page {
  &__articles {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.categories {
  width: 300px;
  flex-shrink: 0;
  overflow: auto;
  padding: 10px 20px 10px $side-padding;
  border-right: 1px solid #aaa;

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
  }

  &__item {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  &__item-link {
    line-height: 1.4;
    color: #333;
  }
}

.random-article {
  padding: 10px $side-padding 10px 20px;

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__article {
    h4 {}

    p {}
  }
}

.latest-articles {
  flex-grow: 1;
  padding: 10px $side-padding 10px 20px;
  border-top: 1px solid #aaa;

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 16px;
  }

  &__item {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  &__item-link {
    line-height: 1.4;
    color: #333;
  }
}