extend _template

block pageTitle
  - var pageTitle = 'Category'
block prepend body
  body
    section#page-category.page-container.category-page
      include parts/_navbar

      main.page-content
        section.category
          h3.category__title Название категории

          .category__articles.category-articles
            ul.category-articles__list
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья один
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья два
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья с очень-преочень длинным названием, которое вряд ли поместится на одной строчке без ее переноса на другую строку
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья четыре
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья пять
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья шесть
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья семь
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья восемь
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья девять
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья десять
              li.category-articles__item
                a.category-articles__item-link(href="#") Статья одиннадцать