section.navbar
  .navbar__content
    button.button.add-article(type="button") Добавить статью

    .searchbar
      form.searchbar__form(action="", method="GET")
        input.searchbar__field(type="text", placeholder="Введите название статьи")

        .searchbar__suggestions.search-suggestions.invisible
          ul.search-suggestions__list
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья один
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья два
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья с очень-преочень длинным названием, которое вряд ли поместится на одной строчке без ее переноса на другую строку
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья четыре
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья пять
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья шесть
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья семь
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья восемь
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья девять
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья десять
            li.search-suggestions__item
              a.search-suggestions__item-link(href="#") Статья одиннадцать

        button.button.searchbar__button.search-article(type="submit") Искать