section.navbar
  .navbar__content
    button.button.add-article(type="button") Добавить статью

    .searchbar
      form.searchbar__form(action="", method="GET")
        input.searchbar__field(type="text", placeholder="Введите название статьи")
        button.button.searchbar__button.search-article(type="submit") Искать