* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: $base-font-size;
  font-family: sans-serif;
  background-color: #eee;
}

.button {
  padding-right: 10px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  max-width: $base-screen-width;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: #ddd;
}

.page-content {
  display: flex;
  flex-grow: 1;
}